<main class='container'>
  <h3>Sign Up</h3>
  <form action='/users' method='post' class='container'>
    <div class='form-input-wrap'>
      <label class='form-input-label' for='username'>Username: </label>
      <input class='form-input' type='text' name='username'>
    </div>
    <div class='form-input-wrap'>
      <label class='form-input-label' for='password'>Password: </label>
      <input class='form-input' type='password' name='password'>
    </div>
    <input type='submit' value='Create Account!' class='form-button'>
  </form>
  <h4>Already signed up?    <a href='/session/new'>Log In</a></h4>
</main>
