  <main class="container"> 
    <h1>Todo App Lite</h1>
    <% if @current_user %>
      <a href="/users/<%= @current_user.id %>">Profile</a>
    <% else%>
      <a href="/users/new">Sign Up</a>
      <a href="/session/new">Log In</a>
      <section class="container">
        <h3>A word about Todo App Lite</h3>
        <p>This app is a proof of concept application intended to showcase the capabilities of the lite framework.</p>
        <p>Modest features include...</p>
        <ul class='main-ul'>
          <li>Session-based login</li>
          <li>Flash notifications</li>
          <li>Full create, read, update, delete for user-associated resources (todos!)</li>
          <li>Serving of static assets</li>
          <li>Dynamic templating</li>
        </ul>
        <p>Thanks for stopping by to check it out!</p>
        <p>Read more about the lite framework <a href='https://github.com/connorryanbaker/lite'>here</a></p>
      </section>
    <% end %>
  </main>